{% extends 'base.html' %}

{% block main %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="{% url 'shop' %}">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="d-flex justify-content-center">
    <h1>Payment failed!</h1>
</div>
<div class="d-flex justify-content-center">
<a type="button" class="btn btn-danger" href="{% url 'index' %}"> Goto home </a>
</div>
{% endblock main %}